.events {
    .border {
        height: 5px;
        width: 80px;
        background-color: #FEA439;
    }

    .border-one {
        height: 5px;
        width: 150px;
        background-color: #FEA439;
    }
    .big-card{
        background-color: #bbf4f0;
        border-radius: 20px;
    }
    .image {
        max-width: 500px;
        max-height: 500px;
        overflow: hidden;
        border-radius: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .info {
        width: 50%;

        p {
            text-wrap: wrap;
            font-weight: medium;
        }

        button {
            outline: none;
            border: none;
            color: #FEA439;
            background-color: inherit;
        }
        .icon-link {
            gap: 2px;

            &:hover {
                gap: 6px;
                transition: all 0.5s ease;
            }
        }
        h2{
            color: #18a99f;
            font-weight: bold;
        }
        
    }

}

@media (max-width: 768px) {
    .events {
        .image {
            max-width: 100%;
            max-height: 300px;
            /* Adjust the max-height for smaller screens */
        }

        .info {
            width: 100%;
        }
    }
}