.about-us {
  .border {
    height: 5px;
    width: 50px;
    background-color: #FEA439;
  }

  .border-1 {
    height: 4px;
    width: 100px;
    background-color: #FEA439;
  }

  span {
    color: #FEA439;
    font-size: 50px;
  }

  .image {
    max-height: calc(100vh - 80px);
    overflow: hidden;

    img {

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(2, 62, 62, 0.8);

    h2 {

      color: white;
      font-weight: bold;

    }

    p {
      text-wrap: wrap;
      color: white;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

@media (max-width: 768px) {

  .about-us {
    span {
      font-size: 35px;
    }

    .text {

      p {
        text-wrap: wrap;
        color: white;
        font-size: 12px;
        font-weight: medium;
      }
    }
  }
}