.contact{
    .border{
        height: 5px;
        width: 80px;
        background-color: #FEA439;
    }
    .border-one{
        height: 5px;
        width: 150px;
        background-color: #FEA439;
    }
    .card{
        height: 100px;
        display: flex;
        border-radius: 20px;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        max-width: 400px;
        border: none;
       
        p{
            display: flex;
           
            flex-wrap: wrap;
        }
        .icon{
            width: 100px !important ;
            height: 100px;
            background-color: rgb(37, 80, 73);
            color: #FEA439;
            flex-shrink: 0;
            &:hover{
                color: white;
                background-color: #FEA439;
            }
        }
    }
    button{
        padding: 10px;
        max-width: 200px;
        background-color: #FEA439;
        outline: none;
        border: none;
        border-radius: 10px;
    }
}