.image-list{
    .border {
        height: 5px;
        width: 80px;
        background-color: #FEA439;
    }

    .border-one {
        height: 5px;
        width: 150px;
        background-color: #FEA439;
    }
}